/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--wght);
  color: var(--main-color);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: var(--block-width);
  padding-block-start: clamp(7.5rem, 7.3125rem + 0.75vw, 8rem);
  padding-block-end: clamp(7.5rem, 7.3125rem + 0.75vw, 8rem);
  border: var(--main-border);
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  margin-block-end: 100px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.card {
  inline-size: var(--block-width);
  vertical-align: middle;
  border: var(--main-border);
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: var(--font-size);
  font-variation-settings: 'wght' var(--bold-wght);
  padding: 5px 10px;
  border-bottom: var(--main-border);
}

.card__picture {
  position: relative;
}

.watermark {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: clamp(0.813rem, 0.5489rem + 1.1268vw, 1.563rem);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:  1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px rgba(255, 255, 255, 0.5)) or (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5))) {
  .watermark {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  object-position: right;
}

.card__image-filter-sepia {
  filter: sepia(80%);
}

.card__image-filter-saturate {
  filter: saturate(350%);
}

.card__image-filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.card__image-filter-contrast {
  filter: contrast(150%);
}

.card__image-filter-grayscale {
  filter: grayscale(0.8);
}

.card__image-filter-blur {
  filter: blur(0.3rem);
}

.card__image-filter-invert {
  filter: invert(0.7);
}

.card__image-filter-hue-rotate-opacity {
  filter: hue-rotate(-180deg) opacity(0.8);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-top: var(--main-border);
  padding: 23px 25px 25px;
  line-height: 1.17;
}

.card__buttons {
  align-self: flex-end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  display: flex;
  gap: 6px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 0;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--main-border);
}

.sparks {
  opacity: 0;
  transform-origin: center;
  transform-box: fill-box;
}

.like-icon .core,
.like-icon .main-body,
.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .core {
  transition-delay: 0.03s;
}

.like-icon:hover {
  --mb-color: var(--contour-color);
  --core-color: var(--contour-color);
}

.like-icon:active {
  --mb-color: var(--animation-fill-color);
  --core-color: var(--animation-fill-color);
}

.like-icon:hover .main-body,
.like-icon:active .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked {
  --core-color: var(--animation-fill-color);
  --mb-color: var(--animation-fill-color);
  --contour-color: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
}

.heart {
  transform-origin: center;
  transform-box: fill-box;
}

.like-icon.is-liked .heart {
  animation-name: scaleup;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation-name: fadein;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
}

.button {
  border: var(--main-border);
  background-color: var(--bg-color);
  cursor: pointer;
  position: relative;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  color: var(--secondary-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 9px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__save {
  inline-size: clamp(19.125rem, 18.4866rem + 2.7238vw, 20.938rem);
  margin-block-end: 100px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button__icon-floppy {
  inline-size: 21px;
  color: var(--secondary-color);
  mix-blend-mode: difference;
}

.dialog__popup {
  border: var(--main-border);
  inline-size: clamp(21.313rem, 21.0489rem + 1.1268vw, 22.063rem);
  padding: 30px;
}

.dialog__popup[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__popup::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
} 

.dialog__content {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 20px;
}

.dialog__icon-floppy {
  inline-size: 39px;
  align-self: center;
}

.dialog__text {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
}

.dialog__button {
  padding: 9px 17px;
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
  }

  .button__icon-floppy {
    inline-size: 28px;
  }
}